<div>
    <h1 id="accout-name">{{name}}'s Account</h1>
    <h2>Movies</h2>
    {{#each movies as |movie|}}
    <h4 class="title">{{movie.title}}</h4>
    <p class="description-user">{{movie.overview}}</p>
    {{/each}}
    <h2>Drinks</h2>
    {{#each drinks as |drink|}}
    <h4 class="title">{{drink.name}}</h4>
    <p class="description-user">{{drink.description}}</p>
    {{/each}}
</div>